@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Georgian College<br />
    Barrie/ON<br />
    <abbr title="Phone">P:</abbr>
    (555) 555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dantecanada10@yahoo.com">dantecanada10@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Dante.CoelhoCerqueiraSantos@MyGeorgian.ca">Dante.CoelhoCerqueiraSantos@MyGeorgian.ca</a>
</address>

