@model BibleStudyGuide.Models.ListsViews
@{
    ViewBag.Title = "ExportData";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.AuthorName @ViewBag.chapterNumber</h2>

@*Lembrar de colocar o item abaixo pq eh nele que tem o ID de cada linha*@
@*@Html.ActionLink("Edit", "Edit", new { id = item.AuthorID })*@
