
@{
    ViewBag.Title = "Home Page";
    string link = "";
}

<h2 style="text-align:center;">Start your studies here</h2>

<h3 style="text-align:center;">Browse the Authors</h3>

<section class="container">
    <div class="col-md-6 text-center well">
        <h3>John</h3>
        <a href=@Url.Action("ListsViews", "Home", new { AuthorName = "John", chapterNumber = 0 })>
            <button class="btn btn-primary">Start >></button>
        </a>
    </div>
    <div class="col-md-6 text-center well">
        <h3>Luke</h3>
        <a href=@Url.Action("ListsViews", "Home", new { AuthorName = "Luke", chapterNumber = 0 })>
            <button class="btn btn-primary">Start >></button>
        </a>
    </div>
    <div class="col-md-6 text-center well">
        <h3>Mark</h3>
        <a href=@Url.Action("ListsViews", "Home", new { AuthorName = "Mark", chapterNumber = 0 })>
            <button class="btn btn-primary">Start >></button>
        </a>
    </div>
    <div class="col-md-6 text-center well">
        <h3>Matthew</h3>
        <a href=@Url.Action("ListsViews", "Home", new { AuthorName = "Matthew", chapterNumber = 0 })>
            <button class="btn btn-primary">Start >></button>
        </a>
    </div>

</section>